<div>
    <plotly-plot [data]="boxPlot.data" [layout]="boxPlot.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
    <p>&nbsp;</p>
    <plotly-plot [data]="horizontalBoxPlot.data" [layout]="horizontalBoxPlot.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
    <p>&nbsp;</p>
    <plotly-plot [data]="groupedBoxPlot.data" [layout]="groupedBoxPlot.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
</div>
