<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
            <div class="row column">
                <br />
                <h5>Angular Plotly</h5>

                <ul class="vertical menu">
                    <li><a [routerLink]="['/home']">Home</a></li>
                    <li><a [routerLink]="['/bar-plots']">Bar Plots</a></li>
                    <li><a [routerLink]="['/box-plots']">Box Plots</a></li>
                    <li><a [routerLink]="['/linear-charts']">Linear Charts</a></li>
                    <li><a [routerLink]="['/ajax']">Ajax</a></li>
                    <li><a [routerLink]="['/fancy-plot']">Fancy Plot</a></li>
                    <li><a [routerLink]="['/memory-leak']">Memory Leak</a></li>
                    <li><a [routerLink]="['/frames']">Frames</a></li>
                </ul>
            </div>
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
            <div class="title-bar hide-for-large">
                <div class="title-bar-left">
                    <button class="menu-icon" type="button" data-open="my-info"></button>
                    <span class="title-bar-title">Angular Plotly</span>
                </div>
            </div>
            <div class="callout primary">
                <div class="row column">
                    <h1>{{ title }}</h1>
                </div>
            </div>
            <div class="row small-up-12">
                <div class="column">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
