<div>
    <plotly-plot [data]="barPlot.data" [layout]="barPlot.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler" (plotly_click)="onPlotlyClick($event)"></plotly-plot>
    <p>&nbsp;</p>
    <plotly-plot [data]="horizontalBarPlot.data" [layout]="horizontalBarPlot.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
    <p>&nbsp;</p>
    <plotly-plot [data]="groupedBarPlot.data" [layout]="groupedBarPlot.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
</div>
